[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/chiranjeevi360
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/chiranjeevi360
	label-Verified = -1..+1 group user/chiranjeevi360
	push = group user/chiranjeevi360
	read = group user/chiranjeevi360
	rebase = group user/chiranjeevi360
	removeReviewer = group user/chiranjeevi360
	submit = group user/chiranjeevi360
[access "refs/heads/*"]
	create = group user/chiranjeevi360
	push = +force group user/chiranjeevi360
	pushMerge = group user/chiranjeevi360
	read = group user/chiranjeevi360
[access "refs/tags/*"]
	push = group user/chiranjeevi360
	push = +force group user/chiranjeevi360
